*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
/Makefile.conf
/Makefile
*.aux
*.glob
*.vo
*.swp
/.coqdeps.d
*.hi
*.o
*.bbl
*.blg
*.xdv
/.vscode/
*.vos
*.vok
/.Makefile.d
*.lia.cache
src/#*.v#
/.nia.cache
